.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

img{
    display: block;
    width: 310px;
    height: 200px;

}
.info{
    width: 310px;
    font-size: 11px;
    display: flex;
    column-gap: 10px;
    border:1px solid pink ;
}
a{
color: black;
text-decoration: none;
}
